# Database file
dev.db

# Logs / errors
web_logs.txt
web_errors.txt
db_errors.txt

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env

# Nested accidental folder
backend/backend/

# OS files
.DS_Store